* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main-header {
    background-color: #5d3000;
    color: white;
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

/* Menu Bar */
.menu-bar {
    background-color: #b27700;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.menu-bar li a {
    display: block;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

.menu-bar li a:hover {
    background-color: #ca8910;
    transition: .25s;
}

/* Layout Container */
.container {
    display: flex;
    min-height: 80vh;
}

/* Sidebar */
.sidebar {
    flex: 1;
    background-color: #ecf0f1;
    padding: 20px;
    border-right: 1px solid #bdc3c7;
}

.sidebar h3 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: square;
    padding-left: 20px;
}

/* Main Content Area */
.content-area {
    flex: 4;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}



.card {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 4px;
}

/* Footer */
.main-footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}